* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: radial-gradient(#333, #747474, #d4d4d4);
  max-height: 100vh;
}